.bg{
     background-color: #232323;
     div{
      position: relative;
      height: 600px;
      z-index: 5;
     }
}
.text{

 
 
  li{
    list-style: none;
    color: #666;
    border-color: #666 !important;
  }
  
}