.imgcontainer{
  position: relative;
  background: url(../../public/img/vag.jpeg) no-repeat center top white;
  padding-top: 15vw; 
  
  .steak{
    background-image : url(../../public/img/main3st.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
    height: 600px !important;
  }
  

}
.p1{
  font-size: 50px;
}
.bene{
  background-position: center;
}

